year-calendar{
    margin: auto;
}
year-calendar .year{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

year-calendar svg{
    transition: transform 300ms ease-in, height 300ms ease-in-out !important;
}
year-calendar {
    height: 700px;
    /* transform: scale(0.8) translate(0vh, -70px); */
    transition: transform 300ms ease-in, height 300ms ease-in-out !important;

}
year-calendar.zoomin{
    height: 1000px;
    /* transform: scale(1.2) translate(0vh, 12vh); */
    transition: transform 300ms ease-in, height 300ms ease-in-out !important;
}

year-calendar .day text{
    font-size: 12px;
    cursor: pointer;
    fill: #fff;
}
year-calendar .day rect{
    cursor: pointer;
    fill: #CECECE;
    color: #fff;
    transition: background 200ms;
}
/* year-calendar .day.highlighted{
    fill: red;
} */
year-calendar .day.selected rect{
    animation: activeSelection 300ms 10ms  alternate infinite ease-in-out;
}



@keyframes activeSelection{
    from{
        stroke-width: 3;
        stroke: #fff;
    }
    to{
        stroke-width: 0;
    }
}