year-calendar{
    margin: auto;
}
year-calendar .year{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2px;
}

year-calendar .month-title,
year-calendar .day{
    width: 2.5vh;
    height: 2.5vh;
    max-width: 25px;
    max-height: 25px;
    transition: all 300ms ease-in !important;

    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CECECE;
}

year-calendar .day.zoomin{
    width: 3.5vh;
    height: 3.5vh;
    max-width: 45px;
    max-height: 45px;
}

year-calendar .day{
    background: #CECECE;
    color: #fff;
    transition: background 200ms;
}
year-calendar .day.highlighted{
    background: red;
}
year-calendar .day.selected{
    animation: activeSelection 300ms 10ms  alternate infinite ease-in-out;
}



@keyframes activeSelection{
    from{
        box-shadow: inset 0 0 0px 2px white;
    }
    to{
        box-shadow: inset 0 0 0px 0px transparent;
    }
}