.fab-with-label{
    width: 128px;
    --border-radius: 50px;
}

.fab-with-label.ion-color-warning{
    --ion-color-base:linear-gradient(90deg, #FFA800 -0.43%, #FDC40C 100%) !important;

}

.fab-with-label p.ion-padding-end{
    --padding-end: 8px;
    padding-inline-end: 8px;
}

ion-radio::part(container),
ion-select::part(text){
    display: none !important;
}
